body {
    font-size: 16px;
    font-family: 'Goudy Bookletter 1911', serif;
    margin: 0;
    background-image: url("./images/samuel-regan-asante-wMkaMXTJjlQ-unsplash.jpg");
    background-size: cover;
}

.container {

    width: 100%;


}

.layer {
    background-color: rgba(245, 245, 249, 0.894);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

h1 {
    text-align: center;
    font-family: 'Limelight', cursive;
    font-size: 4rem;
    margin: 50px 0 50px 0;
}

.movie-list-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    /* gap: 20px; */
}

.newMovie {
    width: 24%;
    margin-bottom: 50px;

}

.data-container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.date {
    width: 100%;
}

.movie .paragraph {
    width: 80%;
    margin: 10px 0;

}



.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.movie-btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Goudy Bookletter 1911', serif;
    background-color: dodgerblue;
    color: white;
    font-weight: 500;
    border: none;
}

.movie-btn:hover {
    background-color: rgb(48, 170, 48)
}

.kid-friendly {
    color: rgb(48, 170, 48);
    font-weight: 700;
    margin-top: 0;
}

.checkbox-container {
    display: flex;
    justify-self: center;
    align-items: flex-start;
    gap: 15px;
}

.star-check {
    visibility: hidden;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
}



.star-check:before {
    content: "\2606";
    position: absolute;
    visibility: visible;
    color: black
}

.star-check:checked:before {
    content: "\2605";
    position: absolute;
    color: rgb(209, 10, 186);
}


.rating {
    margin-top: 0;
    margin-left: 5px;
}

/* .hide {
    display: none;
} */

.hide {
    transition: 1s;
    visibility: hidden;
    opacity: 0;


}

.show {
    display: flex;
    transition: opacity 1s;

}

.hide1 {

    display: none;

}